.series {
  flex: 1 1 auto;
  margin: 40px 0px 50px 0px;
  font-size: 2vh;
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
  // .series__container
  &__container {
  }

  // .series__series-type
  .series__series-type {
    margin-bottom: 30px;

    &::after {
      content: "";
      display: block;
      grid-column: 1 / -1;
      height: 2px;
      width: 100%;
      background-color: rgb(149, 143, 143);
      margin-top: 20px;
    }

    @media (min-width: $mobile) {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto auto 1fr;
    }
  }

  // .series__image
  &__image {
    width: 290px;
    margin: 0px auto;

    @media (min-width: $mobile) {
      height: 300px;
      width: 300px;
      grid-column: 1 / 2;
      grid-row: 2 / -1;
    }
  }

  // .series__title
  &__title {
    display: block;
    text-align: center;
    font-size: 3vh;
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      padding-left: 25px;
      grid-column: 2 / -1;
    }
  }
  // .series__text
  &__text {
    text-indent: 30px;
    line-height: 1.4;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      padding-left: 30px;
    }
  }

  // .series__features
  &__features {
    @media (min-width: $mobile) {
      padding-left: 50px;
    }
  }

  // .series
  @media (min-width: $mobile) {
    margin-top: 80px;
  }
}

.features-product {
  // .features-product__title
  &__title {
    text-align: center;
    // text-indent: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  // .features-product__list
  &__list {
    padding-left: 35px;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      padding-left: 70px;
    }
  }
  // .features-product__item
  &__item {
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      left: -18px;
      top: 25%;
      margin-right: 10px;
      background-color: #000;
    }
  }
  // .features-product__note
  &__note {
    text-align: center;
    color: #946767;
  }
}
.type-sizes {
  // .type-sizes__shapes
  &__shapes {
    margin-bottom: 30px;

    @media (min-width: $mobile) {
      margin-bottom: 0;
      padding-top: 30px;
      padding-left: 50px;
    }
  }
  // .type-sizes__series-slider
  &__series-slider {
  }

  // .type-sizes
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: auto 50%;
  }
}

.shapes-price {
  // .shapes-price__synopsis
  &__title {
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
  }
  // .shapes-price__shapes
  &__shapes {
    margin-bottom: 18px;
    padding-left: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .shapes-price__chapter
  &__chapter {
    margin-bottom: 12px;
  }
  // .shapes-price__price-list
  &__price-list {
    padding-left: 20px;
  }
  // .shapes-price__item
  &__item {
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      left: -18px;
      top: 25%;
      margin-right: 10px;
      background-color: #000;
    }
  }
}
.mini-slider {
  height: auto;

  .swiper-pagination {
    bottom: -30px;

    @media (min-width: $mobile) {
      bottom: 30px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 40px;
    width: 40px;

    @media (min-width: $mobile) {
      top: 40%;
    }
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  // .mini-slider__container
  &__container {
  }

  @media (min-width: $mobile) {
    .swiper-content {
      height: 300px;
    }

    .swiper-wrapper {
      min-height: 300px;
    }
  }
}

.mini-slider-image {
  @media (min-width: $mobile) {
    min-height: 300px;
  }
}
