.series {
  flex: 1 1 auto;
  margin: 40px 0px 50px 0px;
  font-size: 15px;
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */

  // .series__series-type
  .series__series-type {
    margin-bottom: 30px;

    &::after {
      content: "";
      display: block;
      grid-column: 1 / -1;
      height: 2px;
      width: 100%;
      background-color: rgb(149, 143, 143);
      margin-top: 20px;
    }

    @media (min-width: $mobile) {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto auto 1fr;
    }
  }

  // .series__image
  &__image {
    width: 290px;
    margin: 0px auto;

    @media (min-width: $mobileMedium) {
      width: 400px;
    }

    @media (min-width: $mobile) {
      height: 300px;
      width: 300px;
      grid-column: 1 / 2;
      grid-row: 2 / -1;
    }
  }

  // .series__title
  &__title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      padding-left: 25px;
      grid-column: 2 / -1;
    }
  }
  // .series__text
  &__text {
    text-indent: 30px;
    line-height: 1.4;
    padding: 0 15px;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      padding-left: 100px;
    }
  }

  // .series__features
  &__features {
    @media (min-width: $mobile) {
      padding-left: 50px;
    }
  }

  // .series
  @media (min-width: $mobileSmall) {
    font-size: 16px;
  }

  @media (min-width: $mobileMedium) {
    font-size: 17px;
  }

  @media (min-width: $mobile) {
    margin-top: 100px;
    font-size: 19px;
  }
}

.features-product {
  // .features-product__title
  &__title {
    text-align: center;
    // text-indent: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  // .features-product__list
  &__list {
    padding-left: 35px;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      padding-left: 70px;
    }
  }
  // .features-product__item
  &__item {
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      left: -18px;
      top: 25%;
      margin-right: 10px;
      background-color: #000;
    }
  }
  // .features-product__note
  &__note {
    text-align: center;
    color: #946767;
  }
}
.type-sizes {
  // .type-sizes__shapes
  &__shapes {
    margin-bottom: 30px;

    @media (min-width: $mobile) {
      margin-bottom: 0;
      padding-top: 30px;
      padding-left: 50px;
    }
  }
  // .type-sizes__series-slider
  &__series-slider {
  }

  // .type-sizes
  @media (min-width: $mobileMedium) {
    display: grid;
    grid-template-columns: auto 50%;
  }
}

.shapes-price {
  // .shapes-price__synopsis
  &__title {
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: $mobileMedium) {
      margin-bottom: 25px;
    }

    @media (min-width: $mobile) {
      margin-bottom: 30px;
    }
  }
  // .shapes-price__shapes
  &__shapes {
    margin-bottom: 18px;
    padding-left: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .shapes-price__chapter
  &__chapter {
    margin-bottom: 12px;
  }
  // .shapes-price__price-list
  &__price-list {
    padding-left: 20px;
  }
  // .shapes-price__item
  &__item {
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 6px;
      width: 6px;
      left: -18px;
      top: 25%;
      margin-right: 10px;
      background-color: #000;
    }
  }
}
.mini-slider {
  height: auto;

  .swiper-pagination {
    bottom: -30px;

    @media (min-width: $mobile) {
      bottom: 30px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 40px;
    width: 40px;

    @media (min-width: $mobile) {
      top: 40%;
    }
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  // .mini-slider__container
  &__container {
  }

  @media (min-width: $mobileMedium) {
    padding-top: 50px;

    .swiper-content {
      height: 250px;
    }

    .swiper-wrapper {
      min-height: 250px;
    }
  }

  @media (min-width: $mobile) {
    padding-top: 80px;

    .swiper-content {
      height: 300px;
    }

    .swiper-wrapper {
      min-height: 300px;
    }
  }
}

.image-slider__image.mini-slider-image {
  @media (min-width: $mobileMedium) {
    min-height: 250px;
  }

  @media (min-width: $mobile) {
    min-height: 300px;
  }

  img {
    @media (min-width: $mobileMedium) {
      min-height: 250px;
    }

    @media (min-width: $mobile) {
      min-height: 300px;
    }
  }
}

.customized {
  flex: 1 1 auto;
  margin: 40px 0px 50px 0px;
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */

  // .customized__title
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;

    @media (min-width: $mobile) {
      margin-bottom: 40px;
    }
  }
  // .customized__text
  &__text {
    font-size: 17px;
    text-indent: 30px;
    line-height: 1.4;
    padding: 0 10px;

    @media (min-width: $mobileSmall) {
      padding: 0 50px;
      font-size: 19px;
    }

    @media (min-width: $mobileMedium) {
      padding: 0 80px;
      font-size: 20px;
    }

    @media (min-width: $mobile) {
      padding: 0 100px;
    }
  }

  @media (min-width: $mobile) {
    margin-top: 120px;
  }
}

.contacts {
  flex: 1 1 auto;
  margin: 30px 0px 20px 0px;
  font-size: 17px;
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */

  @media (min-width: $mobile) {
    margin: 110px 0px 60px 0px;
    font-size: 20px;
  }
  // .contacts__page
  &__page {
    margin-bottom: 30px;

    @media (min-width: $mobile) {
      margin-bottom: 60px;
    }
  }
  // .contacts__title
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  // .contacts__address
  &__address {
    font-style: normal;
    margin: 0px auto;
    margin-bottom: 20px;
    line-height: 1.4;
    max-width: 400px;
    text-align: center;

    @media (min-width: $mobileSmall) {
      margin-bottom: 30px;
    }
  }

  // .contacts__photobook
  &__photobook {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $mobile) {
      flex-direction: row;
      justify-content: center;
    }
  }

  // .contacts__image
  &__image {
    height: 200px;
    width: 290px;
    margin: 0px auto;
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);

    @media (min-width: $mobileSmall) {
      height: 260px;
      width: 400px;
    }

    @media (min-width: $mobileMedium) {
      height: 300px;
      width: 500px;
    }

    @media (min-width: $mobile) {
      margin: 0;
    }
  }

  &__image:not(:last-child) {
  }

  // .contacts__map
  &__map {
    height: 300px;

    @media (min-width: $mobileSmall) {
      height: 400px;
    }

    @media (min-width: $mobileMedium) {
      height: 500px;
    }

    @media (min-width: $mobile) {
      height: 600px;
    }
  }
  // .contacts__map-frame
  &__map-frame {
    display: block;
    border: 0;
    width: 100%;
    height: 100%;
  }
}

.map-container {
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.news {
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
  // .news__posting
  &__posting {
  }
}
.posting-news {
  padding: 30px 0px 20px 0px;
  // .posting-news__title
  &__title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (min-width: $mobile) {
    padding: 110px 0px 70px 0px;
  }
}
.news-story {
  display: inline-block;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  margin-bottom: 30px;

  &:last-child {
    margin: 0;
  }
  // .news-story__thumbnail
  &__thumbnail {
    display: block;
    height: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
    text-align: center;

    @media (min-width: $mobileMedium) {
      float: left;
      margin: 0 30px 0 0;
    }
  }
  // .news-story__image
  &__image {
    margin: 0px auto;

    @media (min-width: $mobileMedium) {
      max-width: 250px;
    }
  }
  // .news-story__title
  &__title {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
  }
  // .news-story__text
  &__text {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.3;
  }

  &__text:not(:last-child) {
    padding-bottom: 10px;
  }
}

.about {
  flex: 1 1 auto;
  margin: 30px 0px 20px 0px;
  font-size: 17px;
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */

  @media (min-width: $mobile) {
    margin: 110px 0px 60px 0px;
  }
  // .about__title
  &__title {
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  // .about__text
  &__text {
    text-indent: 30px;
    line-height: 1.4;
    padding: 0 10px;
    margin-bottom: 20px;

    @media (min-width: $mobileSmall) {
      padding: 0 40px;
      font-size: 18px;
      margin-bottom: 25px;
    }

    @media (min-width: $mobileMedium) {
      padding: 0 60px;
      font-size: 19px;
      margin-bottom: 30px;
    }

    @media (min-width: $mobile) {
      padding: 0 100px;
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  // .about__photobook
  &__photobook {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $mobile) {
      flex-direction: row;
      justify-content: center;
    }
  }
  // .about__image
  &__image {
    height: 200px;
    width: 290px;
    margin: 0px auto;
    background-color: #000000;
    transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);

    img {
      opacity: 0.6;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }

    @media (min-width: $mobileSmall) {
      height: 260px;
      width: 400px;
    }

    @media (min-width: $mobileMedium) {
      height: 300px;
      width: 500px;
    }

    @media (min-width: $mobile) {
      margin: 0;
    }
  }
}
