//====================================================================================================
.footer {
	background: black;

	// .footer__container
	&__container {
	}
	// .footer__inner
	&__inner {
		height: 120px;
		color: #fff;
		font-weight: 700;
		font-size: 1.7vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	// .footer__contacts-link
	&__contacts-link {
		margin-bottom: 10px;
		&:last-child{
			margin: 0;
		}
	}
	// .footer__contacts-img
	&__contacts-img {
	}
	// .footer__social
	&__social {
	}
	// .footer__social-link
	&__social-link {
	}
	// .footer__social-img
	&__social-img {
	}
}

//====================================================================================================
