//====================================================================================================
.footer {
  background: black;

  // .footer__container
  &__container {
  }
  // .footer__inner
  &__inner {
    color: #fff;
    font-weight: 700;
    font-size: 2vh;
    display: inline-block;
    // flex-direction: column;
    // justify-content: center;
    padding: 20px 0;

    @media (min-width: $mobile) {
      padding: 40px 20px;
      font-size: 2.2vh;
    }
  }
  // .footer__contacts
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  // .footer__contacts-link
  &__contacts-link {
    padding: 10px;
    &:last-child {
      margin: 0;
    }

    @media (min-width: $mobile) {
      margin-bottom: 10px;
    }
  }
}

//====================================================================================================
