//====================================================================================================
.page {
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */

  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
}

.action {
}
.action-page {
  padding: 30px 0px 20px 0px;
  // .action-page__title
  &__title {
    height: 80px;
    font-size: 4vh;
    font-weight: 900;
    padding-left: 30px;
  }
}
.action-part {
  display: block;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
  margin-bottom: 30px;
  &:last-child {
    margin: 0;
  }
  // .action-part__image
  &__image {
    height: 200px;
    width: 100%;
  }
  // .action-part__section
  &__section {
    padding-top: 30px;
  }

  @media (min-width: $mobile) {
    display: flex;
    &__image {
      height: 200px;
      width: 200px;
      margin-right: 30px;
    }
    &__section {
      padding-top: 10px;
    }
  }
}
.thumbnail {
  height: 100%;
  width: 100%;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;

    @media (min-width: $mobile) {
      width: 200px;
    }
  }
}
.section-side {
  font-size: 3vh;
  font-weight: 900;
  // .section-side__title
  &__title {
    margin-bottom: 20px;
    display: inline-block;
  }
  // .section-side__text
  &__text {
    font-weight: 700;
    font-size: 2.5vh;
  }
}

//========================================================================================================================================================
