.slider {
  height: auto;
  margin: 20px 0 60px;
  padding: 0 0.9375rem;
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
  // &::before {
  // 	content: "";
  // 	display: block;
  // 	height: 2px;
  // 	width: 100%;
  // 	background-color: #000;
  // 	margin-bottom: 20px;
  // }
  // &::after {
  // 	content: "";
  // 	display: block;
  // 	height: 2px;
  // 	width: 100%;
  // 	background-color: #000;
  // 	margin-top: 20px;
  // }

  @media (min-width: $mobile) {
    margin: 90px 0 70px;
  }
}
.swiper-content {
  // height: 100%;
  padding: 0px;
  position: relative;
  .swiper-autoheight {
    height: inherit;
  }
  // .swiper-content__slider-image
  &__slider-image {
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    &:hover {
      .swiper-pagination {
        opacity: 1; /* Показываем навигацию при ховере */
        visibility: visible;
      }

      @media (min-width: $mobileMedium) {
        .swiper-button-prev,
        .swiper-button-next {
          opacity: 1; /* Показываем навигацию при ховере */
          visibility: visible;
        }
      }
    }
  }
}
.image-slider {
  overflow: hidden;
  height: 100%;
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    z-index: 20;
    top: 40%;
    // background-color: rgb(195, 193, 193);
    background-color: black;
    mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M4336 3832 c-10 -5 -412 -386 -893 -848 -482 -461 -879 -839 -883%0A-839 -5 0 -322 302 -705 670 -384 369 -713 682 -733 698 -29 22 -46 27 -92 27%0A-53 0 -56 -1 -74 -35 -21 -38 -47 -58 -87 -68 -20 -5 -28 -16 -38 -56 -7 -27%0A-21 -57 -32 -67 -10 -9 -19 -30 -19 -45 0 -22 -7 -32 -33 -45 -17 -9 -35 -22%0A-39 -28 -11 -15 -10 -87 1 -122 5 -16 12 -41 15 -56 5 -20 257 -268 891 -877%0A935 -899 908 -875 980 -857 26 7 2143 2031 2183 2087 27 39 28 74 4 114 -11%0A17 -94 101 -185 188 -146 139 -171 159 -204 163 -21 2 -46 0 -57 -4z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M4336 3832 c-10 -5 -412 -386 -893 -848 -482 -461 -879 -839 -883%0A-839 -5 0 -322 302 -705 670 -384 369 -713 682 -733 698 -29 22 -46 27 -92 27%0A-53 0 -56 -1 -74 -35 -21 -38 -47 -58 -87 -68 -20 -5 -28 -16 -38 -56 -7 -27%0A-21 -57 -32 -67 -10 -9 -19 -30 -19 -45 0 -22 -7 -32 -33 -45 -17 -9 -35 -22%0A-39 -28 -11 -15 -10 -87 1 -122 5 -16 12 -41 15 -56 5 -20 257 -268 891 -877%0A935 -899 908 -875 980 -857 26 7 2143 2031 2183 2087 27 39 28 74 4 114 -11%0A17 -94 101 -185 188 -146 139 -171 159 -204 163 -21 2 -46 0 -57 -4z'/%3E%3C/g%3E%3C/svg%3E");
    mask-size: contain;
    -webkit-mask-size: contain;
    // transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
    height: 50px;
    width: 50px;
    transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
    opacity: 0; /* По умолчанию скрываем навигацию */
    visibility: hidden;
    transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
    transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */

    @media (min-width: $mobile) {
      top: calc(50% - 50px);
    }
  }
  .swiper-button-prev {
    transform: rotate(90deg);
    left: 0;

    @media (min-width: $mobile) {
      left: 20px;
    }
  }
  .swiper-button-next {
    transform: rotate(-90deg);
    right: 0;

    @media (min-width: $mobile) {
      right: 20px;
    }
  }

  // .image-slider__wrapper
  &__wrapper {
    @include adaptiveValue("min-height", 1700, 200, 5000, 319.98, 1);
  }
  // .image-slider__slide
  &__slide {
  }
  // .image-slider__image
  &__image {
    position: relative;
    @include adaptiveValue("min-height", 1700, 200, 5000, 319.98, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.swiper-pagination {
  bottom: -40px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
  transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
  opacity: 1; /* По умолчанию скрываем */

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    // line-height: 20;
    font-size: 14px;
    background-color: #fff;
    display: block;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid black;
  }
  .swiper-pagination-bullet-active {
    background-color: #000;
  }

  @media (min-width: $mobile) {
    opacity: 0;
    position: relative;
    bottom: 50px;
    margin-bottom: -20px;
    visibility: hidden;
    transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
    transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
  }
}
